html, body{
    height: 100%;
}

.container-fluid{
    height: 100%;
    background-color:blanchedalmond;
}

#main {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}