html, body{
    height: 100%;
}

.container-fluid{
    height: 100%;
    background-image: url('image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-fluid .btn.btn-outline-light {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row .col img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

#main {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}